body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/** Home Page navbar*/

div.navbar-collapse.collapse {
    color: red;
    width: 100%;
    height: 5px;
}

div.jumbotron {
    background-image: url('../images/home_index/ClevelandSkyLine.jpg');
    background-size: contain;
}

h1#main-index {
    color: #000000;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-style: italic;
    text-align: center;
}

h2#main-index {
    color: #000000;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    text-align: center;
}

div#main-index-thumbnail {
    background-color: #000099;
    background-position: center center;
    background-size: contain;
    text-align: center;
    color: #a3ff00;
}

/*div#directors.thumbnail {
    background-color: #000099;
    background-position: center center;
    background-size: contain;
    text-align: center;
    color: #a3ff00;
}*/
   